<label for-next>Content</label><input type="text" ng-model="model.content"/>
<label for-next>Other Content</label><input type="text" ng-model="model.content2"/>

<div draggable style="width:200px;height:200px; border:solid 2px red; background-color:blue; color:white; font-size:50px">
    This is some {{model.content}}
</div>


<div draggable shoes="model.shoes" style="width:200px;height:200px; border:solid 2px red; background-color:blue; color:white; font-size:20px">
    <label for-next>Internal Content</label><input type="text" ng-model="model.content2"/><br/>
    This is some {{model.content2}}
</div>



